storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1,{{ ansible_default_ipv4.address }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: enabled

